<h2>New Authors</h2>

<form action="/authors" method="POST">
  <label for="">name</label>
  <input type="text" name="name" value="<%= author.name %>" />

  <a href="/authors">Cancel</a>
  <button type="submit">Create</button>
</form>
